*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: white;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  margin: 0 30px;
  inline-size: 100%;
  height: 534px;
  display: flex;
  gap: 30px;
  align-items: flex-end;
}

.result {
  display: flex;
  flex-direction: column;
  width: 710px;
  gap: 16px;
}

.result__video {
  width: 100%;
  height: 386px;
  object-fit: cover;
  object-position: center;
}

.result__video-container {
  width: 100%;
  height: 386px;
  position: relative;
  align-content: flex-end;
}

.search-form {
  width: 100%;
  display: flex;
  box-sizing: content-box;
  height: 54px;
  gap: 40px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  outline: none;
  width: fit-content;
  outline-offset: 1px;
}

.search-form__label .search-form__textfield {
  border: 1px solid transparent;
  border-block: 1px solid white;
}

.search-form__label:active .search-form__textfield {
  border: 1px solid white;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 2px;
}

.search-form__label:active {
  outline: none;
}

.search-form__textfield {
  font: inherit;
  background-color: transparent;
  inline-size: 225px;
  padding: 2px 0;
  outline: none;
  border: none;
  color: white;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__pseudo-checkbox {
  border: 1px solid white;
  width: 19px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: white;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__submit-button {
  align-self: flex-end;
}

.button {
  width: 100%;
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding: 6px 0;
  text-underline-offset: 2px;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline 1px white;
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.content__details {
  width: 400px;
  height: 100%;
}

.content__list {
  overflow-y: scroll;
  scrollbar-width: none;
  block-size: 300px;
  display: flex;
  flex-direction: column;
  gap: 34px;
  position: relative;
}

.content__list-item {
  margin: 2px;
}

.title {
  color: white;
  font-size: 75px;
  text-transform: uppercase;
  padding-bottom: 26px;
  font-family: Oswald;
  line-height: 70px;
}

.content__accent {
  color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-title {
  font-size: 30px;
  padding-bottom: 6px;
  color: white;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
}

.content__video-card-description {
  color: white;
  line-height: 16.2px;
}

.content__video-card-description-container {
  width: 200px;
  line-height: 30px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__card-link {
  display: block;
  text-decoration: none;
  text-underline-offset: 2px;
}

.content__card-link:hover {
  text-decoration: underline 1px white;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.more-button-template {
  width: 100%;
}
